@font-face {
	font-family: 'PressStart2P';
	src: url('../assets/fonts/press-start-2p/PressStart2P.ttf');
}

body {
	margin: 0;
}
#game-container {
	width: 800px;
	margin: 20px auto;
}
#game {
	z-index: 1;
}
#hud {
	position: absolute;
	top: 20px;
	z-index: 2; /* place this above the game div */
	background-color: rgba(200, 200, 200, 0.7);
	width: 780px;
	height: 40px;
	margin: 0px 10px;
}
#hud p {
	font-family: 'PressStart2P';
	text-align: center;
	margin-top: 5px;
}